{{> head }}
    {{> navbar }}
    <div class="row">

        <div class="col-8">
            <h1>Primer encabezado H1 de ABOUT</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugit labore cumque dignissimos illo voluptatem at impedit illum, autem, tempora esse non voluptatum recusandae officia aliquid error repudiandae corrupti voluptate.
            </p>
        </div>

        <div class="col-4">
            <img style="width: 400px; height: 400;" src="assets/img/Simborio_de_la_Virgen_del_Cisne.jpg" class="img-thumbnail">
        </div>

    </div>
{{> footer }}